<!DOCTYPE html>
<!--
The base template which is used by every page in the website. Contains the header, common js files
-->
<html lang="en">
  <head>
    <title>Welcome to Series Analytics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/baseHTML.css">
    <link href="./static/fonts/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <script  type="text/javascript" src='./static/js/jquery.js'></script>

    {% block head %}{% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="theMenu">
      <div class="menu-wrap">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand smoothScroll" href="{{ url_for('index') }}">TV Analytics</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="{{ url_for('recommendation') }}">Upcoming Episodes</a>
            {% if g.user %}
            <li><a href="{{ url_for('edit_profile') }}">Add Shows</a>
            
            <li><a href="{{ url_for('logout') }}">Sign Out [{{ g.user.name }}]</a>
            {% else %}
            <li><a href="{{ url_for('login') }}">Sign In</a>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </nav>
    <section></section>
    <br>
    <br><br>
    {% block content %}{% endblock %}
    

  </body>
  </html>
    