{% extends "base.html" %}
{% block content %}
  <h3>Add Shows</h3>
  <form action="" method=post>
    <dl>
      <dt>Name:
      <dd>{{ form.name }}
      <dt>E-Mail
      <dd>{{ form.email }}
      <dt>Series: <br>
        <ul>
        {% if g.user.series %}
        {% for show in g.user.series.split(',') %}
          <li> <button value='{{show}}' name='remove' style='color:#000'> - </button> {{show}} </li>
        {% endfor %}
        {% endif %}
        {% if error_msg %}
        <br>  {{error_msg}} <br>
        {% endif %}
      <input type=text name=series size=50 value="{{ form.series }}" style='color:#000'>
      <input type=submit value="+" style='color:#000'>
    </ul>
    </dl>

    <p>  
      <input type=submit name=delete value="Delete Profile" style='color:#000'>
  </form>
{% endblock %}